# prod

networkx==2.4
numpy==1.19.1
Pillow==7.2.0
requests==2.24.0
requests-futures==1.0.0
pandas==1.1.0

# dev

black==19.3b0
coverage==5.2.1
cryptography==3.0
flake8==3.8.3
numpydoc==1.1.0
Sphinx==3.2.1
tox==3.19.0
pytest==6.0.1
pytest-cov==2.10.1
pytest-runner==5.2
PyYAML==5.3.1
wheel==0.35.1
twine==3.2.0
watchdog==0.10.3
